body{
    background-color:white;
    color:black
}
.light{
    background-color:black;
    color:white
}

header{
    margin:auto;
    margin-top: -20%;
    margin-left: -1%;
    color: black;
    padding-top: 1%;
    padding-left: 1%;
    background-color: rgb(86, 166, 147);
    height:80px;
    width:100%;
    border: 2px solid black;
    position: fixed;
}
#icon{
    float:left;
}
#icon>img{
    height:70px;
    width:100px;
}
.dropdown{
    margin-top:1%;
    float:left;
    margin-left:5%;
    width:80%; 
     
}
.sl{
    width:150px;
    height:30px;
}
.si{
    margin-left: 1%;
    width:200px;
    height: 30px;
}
.lang{
    margin-left: 1%;
    width:150px;
    height:30px;
}
a{
    margin-left: 10%;
    font-size:20px;
    font-weight:bold;
    color:black;
}
button{
    margin-left:2%;
    font-weight: bold;
}
.olxcover{
    margin-left: -10%;
    margin-top: -13.5%;
    height:150px;
    width:111%;
    text-align: center;
    position: absolute;
    
}
.olxcover>img{
    height:150px;
    width:100%;
}
.centered{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size:30px;
    color: red;
}
#coupon{
    margin-left: 40%;
    margin-top: -5%;
    position: absolute;
    z-index: 100;
    background-image: url(./coupon\ image.jpg);
    height: 230px;
    width: 225px;
    border-radius: 20%;
    visibility: hidden;

}

.cate{
    margin-left: 10%;
    margin-top: 20%;
    height:400px;
    width: 91%;
    
    
    
    
}
span{
    margin-left: 1%;
    font-size:30px;
    font-weight:bold;
}
.items{
    height:350px;
    width:800px;
    margin-left: 15%;
    
}
.ea{
    margin-left: 12%;
    margin-top: 2.5%;
    
    height:150px;
    width:250px;
    float:left;
    background-color:rgb(86, 166, 147);
}
.ea1{
    color:white;
}

.rci{
    box-shadow: 20px 10px 20px;
    height: 400px;
    width: 100%;
}
.rci1{
    margin-left: 3.5%;
    border: 2px solid rgb(208, 204, 204);
    height: 300px;
    width: 300px;
    float: left;
}
.subrci1>img{
    height: 200px;
    width: 300px;
}

footer{
    height:150px;
    width: 100%;
    
    background-color:rgb(86, 166, 147);
}
#footertext{
    text-align: center;
}
.footdiv{
    height: 70px;
    width: 18%;
    float: left;
    border-right: 2px solid black;
    text-align: center;
}
.footdiv>img{
    height:30px;
    width: 100px;
    
}
.noborder{
    border:none;
}
.fb{
    color:rgb(51, 51, 106);
    font-size: 15px;
}
.insta{
    color:rgb(197, 88, 37);
    font-size: 15px;
}
.yt{
    color:red;
    font-size: 15px;
}
